<h3>Product Images</h3>

<ul *ngFor = "let image of images">
    <li class="images">
        <a (click)="edit(hero)">
            <span class="badge"> Image File: {{image.fileName}} </span> <br>
            <span> <img src='data:image/png;base64,{{image.imageThumb}}' alt="Thumbnail Image"> </span>
            <span> <img src='data:image/png;base64,{{image.imageFull}}'alt="Full Image"> </span>
            <input *ngIf="image===editImage" [(ngModel)]="image.fileName" (blur)="update()" (keyup.enter)="update()">
        </a>
        <button class="delete" title="delete image file" (click)="delete(image)">x</button>
     </li>
</ul>
